<div class="min-h-screen bg-gray-50">
    <div class="flex">
        <app-sidebar></app-sidebar>
        <div class="flex-1 ml-0 md:ml-20">
            <header class="bg-white shadow-sm">
                <div class="max-w-7xl mx-auto py-2 md:py-4 px-3 md:px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between">
                        <h1 class="text-xl md:text-2xl font-semibold text-gray-900">Assessments</h1>
                        <div class="header-actions">
                            <button *ngIf="isMobile" (click)="toggleSidebar()"
                                class="p-1.5 md:p-2 rounded-md hover:bg-gray-100 transition-colors">
                                <i class="fas fa-bars w-5 md:w-6 h-5 md:h-6"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </header>

            <div class="main-content">
                <!-- Performance Details Section, responsiveness needs to be fixed and also add few more details about the students -->
                <section class="metrics-section">
                    <div class="titlemet">
                        <h2>Performance Metrics</h2>
                        <button> <i class="fa-solid fa-plus"></i> Generate Assessment</button>
                    </div>
                    <div class="metrics-grid">
                        <div class="metric-card">
                            <div class="metric-header">
                                <div>
                                    <h3>Average Score</h3>
                                    <div class="metric-value">82%</div>

                                </div>
                                <i class="fas fa-chart-bar c1"></i>
                            </div>
                            <p class="metric-trend">+2.5% from last month</p>
                        </div>

                        <div class="metric-card">
                            <div class="metric-header">
                                <div>
                                    <h3>Total Students</h3>
                                    <div class="metric-value">{{totalStudents}}</div>

                                </div>
                                <i class="fas fa-users c2"></i>
                            </div>
                            <p class="metric-trend">Across {{totalClasses}} classes</p>
                        </div>

                        <div class="metric-card">
                            <div class="metric-header">
                                <div>
                                    <h3>Completion Rate</h3>
                                    <div class="metric-value">91.8%</div>

                                </div>
                                <i class="fas fa-chart-line c3"></i>
                            </div>
                            <p class="metric-trend">+4.3% from last month</p>
                        </div>

                        <div class="metric-card">
                            <div class="metric-header">
                                <div>
                                    <h3>Active Classes</h3>
                                    <div class="metric-value">{{totalClasses}}</div>
                                </div>
                                <i class="fa-solid fa-graduation-cap c4"></i>
                            </div>
                            <p class="metric-trend">BSIT 3A, 3B, 3C</p>
                        </div>
                    </div>
                </section>


                <section class="ongoing-section">
                    <h2>On Going Assessments</h2>
                    <div class="ongoing-grid">
                        <div *ngFor="let classData of filterAssessments()" class="ongoing-card">
                            <a (click)="navigateToResult(classData._id)" class="cursor-pointer">
                                <div class="ongoing-title">{{classData.title}} - {{classData.classes[0].className}}
                                </div>
                                <div class="ongoing-content">
                                    <div class="progress-container">
                                        <div class="progress-header">
                                            <span>Progress</span>
                                            <span>{{classData.progress | number:'1.0-0'}}%</span>
                                        </div>
                                        <div class="progress-bar">
                                            <div class="progress-fill" [style.width]="classData.progress + '%'"></div>
                                        </div>
                                    </div>
                                    <div class="ongoing-stats">
                                        <span>Students: {{classData.totalStudents}}</span>
                                        <span>Completion: {{classData.progress | number:'1.0-0'}}%</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>

                <div class="assessment-container">
                    <div class="filter-section">
                        <div class="search-container">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Search assessments" class="search-input"
                                [value]="searchTerm" (input)="onSearch($event)" />
                        </div>
                        <select [(ngModel)]="sortBy" class="sort-select">
                            <option value="date">Date</option>
                            <option value="name">Name</option>
                            <option value="score">Score</option>
                            <option value="progress">Progress</option>
                        </select>
                    </div>

                    <section class="my-assessments">
                        <h2>My Assessments</h2>
                        <div class="assessments-grid">
                            <div *ngIf="filterOwnAssessments().length === 0" class="empty-state">
                                <i class="fas fa-clipboard-list"></i>
                                <h1 *ngIf="searchTerm == ''">No assessments found</h1>
                                <h1 *ngIf="searchTerm !== ''">No assessments found "{{searchTerm}}"</h1>
                                <p>Try creating a new assessment or enter the correct title.</p>
                            </div>

                            <div *ngFor="let assessment of filterOwnAssessments().slice(0, showAll ? undefined : 6)"
                                class="assessment-card">
                                <div class="assessment-content">

                                    <div class="assessment-header">
                                        <div class="assessment-avatar">
                                            {{assessment.title.substring(0,2).toUpperCase()}}
                                        </div>
                                        <div class="assessment-info">
                                            <h3>{{assessment.title}}</h3>
                                            <p>Created: {{assessment.createdAt | date}}</p>
                                        </div>
                                    </div>


                                    <div class="assessment-stats">
                                        <div class="stat-item">
                                            <i class="fas fa-list-ol"></i>
                                            <span>{{assessment.totalQuestions}} questions</span>
                                        </div>
                                        <div class="stat-item">
                                            <i class="fas fa-star"></i>
                                            <span>{{assessment.totalPoints}} points</span>
                                        </div>
                                        <div class="stat-item">
                                            <i class="fas fa-file-alt"></i>
                                            <span class="capitalize">{{assessment.status}}</span>
                                        </div>
                                        <div class="stat-item">
                                            <i class="fas fa-layer-group"></i>
                                            <span>{{getTypeCount(assessment)}} types</span>
                                        </div>
                                    </div>

                                    <div class="types-container">
                                        <div class="types-list">
                                            <span *ngFor="let type of getQuestionTypes(assessment).slice(0, 1)"
                                                class="type-tag">
                                                {{type}}
                                            </span>

                                            <button *ngIf="getQuestionTypes(assessment).length > 1"
                                                (click)="toggleTypeDropdown(assessment.id); $event.stopPropagation();"
                                                class="more-types">
                                                +{{getQuestionTypes(assessment).length - 1}} more
                                            </button>
                                        </div>

                                        <div *ngIf="activeDropdown === assessment.id" class="types-dropdown">
                                            <div class="types-grid">
                                                <span *ngFor="let type of getQuestionTypes(assessment)"
                                                    class="type-tag">
                                                    {{type}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="action-buttons">
                                        <button class="assign-button">Assign</button>
                                        <button class="edit-button">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div *ngIf="filterOwnAssessments().length > 6" class="show-more">
                        <div class="divider"></div>
                        <button (click)="showAll = !showAll" class="show-more-button">
                            {{ showAll ? 'Show Less' : 'Show More' }}
                            <i class="fas" [class.fa-chevron-down]="!showAll" [class.fa-chevron-up]="showAll"></i>
                        </button>
                        <div class="divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>