<div class="piper">

    <div class="login-section">
        <div class="login-container">
            <div class="logo">
                <img src="prism_logo.png" alt="Logo" width="60">
            </div>

            <h1 *ngIf="activeTab === 'login'" class="wb">Welcome Back!</h1>
            <p *ngIf="activeTab === 'login'" class="subtitle">Sign in to your account to continue your assessment
                journey</p>


            <h1 *ngIf="activeTab === 'signup'" class="wb">We are glad to have you here!</h1>
            <p *ngIf="activeTab === 'signup'" class="subtitle">Fill in the details below to signup your account</p>


            <form [formGroup]="loginForm" *ngIf="activeTab === 'login'" (ngSubmit)="handleLoginSubmit()">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <div class="email-input-container" [ngClass]="{'email-error': hasAtSymbol('email')}">
                        <input type="text" id="email" placeholder="Enter your email ID" formControlName="email"
                            [ngClass]="{'invalid': loginForm.get('email')?.touched && loginForm.get('email')?.invalid}" />
                        <div class="email-domain">&#64;gordoncollege.edu.ph</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-input">
                        <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
                            [ngClass]="{'invalid': loginForm.get('password')?.touched && loginForm.get('password')?.invalid}" />
                        <i class="far" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
                            (click)="togglePasswordVisibility()"></i>
                    </div>
                </div>

                <div class="form-options">
                    <label class="remember-me">
                        <input type="checkbox">
                        <span>Remember me</span>
                    </label>
                    <a routerLink="/forgot-password" class="forgot-password">Forgot password?</a>
                </div>


                <div class="show-err">
                    <p class="error-message mb-3" *ngIf="errorMessage">{{ errorMessage }}</p>
                    <p class="error-message mb-3" *ngIf="formError">{{ formError }}</p>


                </div>
                <button type="submit" class="sign-in-btn" [disabled]="loading">
                    <span *ngIf="loading" class="spinner"></span>
                    <span *ngIf="!loading">Sign in</span>
                </button>

                <div class="divider">or</div>

                <button type="button" class="button" (click)="loginWithGoogle()" [disabled]="googleLoading">
                    <span *ngIf="googleLoading" class="spinner"></span>
                    <span *ngIf="!googleLoading">
                        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
                            <path fill="#4285F4"
                                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027">
                            </path>
                            <path fill="#34A853"
                                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1">
                            </path>
                            <path fill="#FBBC05"
                                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782">
                            </path>
                            <path fill="#EB4335"
                                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251">
                            </path>
                        </svg>
                        Continue with Google
                    </span>
                </button>

                <p class="create-account">
                    Don't have an account? <a (click)="activeTab = 'signup'" class="auth-link">Create an account</a>
                </p>
            </form>


            <form [formGroup]="signupForm" *ngIf="activeTab === 'signup'" (ngSubmit)="handleSignupSubmit($event)">

                <div class="form-group">
                    <label for="name">Full Name</label>
                    <input type="name" id="name" placeholder="Enter your full name" formControlName="name"
                        [ngClass]="{'invalid': loginForm.get('name')?.touched && loginForm.get('name')?.invalid}" />
                </div>


                <div class="form-group">
                    <label for="email">Email Address</label>
                    <div class="email-input-container" [ngClass]="{'email-error': hasAtSymbol('signup-email')}">
                        <input type="text" id="signup-email" placeholder="Enter your email ID" formControlName="email"
                            [ngClass]="{'invalid': signupForm.get('email')?.touched && signupForm.get('email')?.invalid}" />
                        <div class="email-domain">&#64;gordoncollege.edu.ph</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-input">
                        <input [type]="showPassword ? 'text' : 'password'" id="signup-password"
                            formControlName="password"
                            [ngClass]="{'invalid': signupForm.get('password')?.touched && signupForm.get('password')?.invalid}" />
                        <i class="far" [class.fa-eye]="showPassword" [class.fa-eye-slash]="!showPassword"
                            (click)="togglePasswordVisibility('password')"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="password-input">
                        <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
                            formControlName="confirmPassword"
                            [ngClass]="{'invalid': signupForm.get('confirmPassword')?.touched && signupForm.get('confirmPassword')?.invalid}" />
                        <i class="far" [class.fa-eye]="showConfirmPassword" [class.fa-eye-slash]="!showConfirmPassword"
                            (click)="togglePasswordVisibility('confirm')"></i>
                    </div>
                </div>

                <div class="form-group">
                    <label for="role">Role</label>
                    <select name="role" class="form-input" formControlName="role" (change)="onRoleChange($event)"
                        required
                        [ngClass]="{'invalid': loginForm.get('role')?.touched && loginForm.get('role')?.invalid}">
                        <option value="" disabled selected>Select a role</option>
                        <option value="student">Student</option>
                        <option value="instructor">Instructor</option>
                    </select>
                </div>

                <div class="form-group" *ngIf="signupForm.get('role')?.value === 'instructor'">
                    <label for="isCoordinator">Are you a coordinator?</label>
                    <select name="isCoordinator" class="form-input" formControlName="isCoordinator" required
                        [ngClass]="{'invalid': loginForm.get('isCoordinator')?.touched && loginForm.get('isCoordinator')?.invalid}">
                        <option value="no">No, not at this time</option>
                        <option value="yes">Yes, I am a coordinator</option>
                    </select>
                    <p class="helper-text" *ngIf="signupForm.get('isCoordinator')?.value === 'yes'">
                        Your coordinator status will be verified by the admin.
                    </p>
                </div>

                <div class="form-group" *ngIf="signupForm.get('isCoordinator')?.value === 'yes'">
                    <label for="coordinatedProgram">Coordinator of what Program?</label>
                    <select name="coordinatedProgram" class="form-input" formControlName="coordinatedProgram" required
                        [ngClass]="{'invalid': signupForm.get('coordinatedProgram')?.touched && signupForm.get('coordinatedProgram')?.invalid}">
                        <option value="bsit">BSIT</option>
                        <option value="bscs">BSCS</option>
                        <option value="bsemc">BSEMC</option>
                        <option value="act">ACT</option>
                    </select>
                </div>

                <button type="submit" class="sign-in-btn" [disabled]="loading">
                    {{ loading ? 'Creating account...' : 'Create account' }}
                </button>

                <p class="create-account">
                    Already have an account? <a (click)="activeTab = 'login'" class="auth-link">
                        Sign in
                    </a>
                </p>
            </form>
        </div>
    </div>

    <!-- Branding Section -->
    <div class="branding-section">
        <div class="branding-content">
            <div class="img">
                <img src="prism_logo.png" alt="Logo" width="120">
            </div>
            <h2 class="prism-logo">PRISM</h2>
            <h3>Elevate Your Assessment Journey</h3>
            <p class="tagline">Where precision meets potential, and every evaluation shapes excellence</p>

            <div class="features">
                <div class="feature">
                    <i class="fas fa-graduation-cap"></i>
                    <p>Smart Learning</p>
                </div>
                <div class="feature">
                    <i class="fas fa-chart-line"></i>
                    <p>Detailed Analytics</p>
                </div>
                <div class="feature">
                    <i class="fas fa-book"></i>
                    <p>Comprehensive Tests</p>
                </div>
            </div>

            <div class="version">
                Version 0.30 • © 2025 PRISM • ICTe Solutions
            </div>
        </div>
    </div>
</div>